
<div class="container">
  <div class="text-center">
    <% if @course_id %>
      <h1><%= Course.find(@course_id).name %> Instructors</h1>
    <% else %>
      <h1>Instructors</h1>
    <% end %>
  </div>
</div>
<div class="container well">
  <div class="col-lg-12 text-center">
    <% if @tas %>
      <% @tas.each do |ta| %>
        <div class="col-sm-6 col-md-4 col-lg-4 text-center">
          <div class="thumbnail tas_thumbnail">
            <div class="caption">
              <div id="home" class="tab-pane fade in active">
                <div class="img-thumb-holder tas_thumbnail_pic">
                  <%= image_tag ta.image.url(:thumb) %>
                </div>
                <% avalibility_count = ta.meetings.select {|meeting| meeting.student_id == nil }.count %>
                <h2><%= link_to ta.name.titleize, ta_path(ta) %></h2>
                <% if avalibility_count > 1 %>
                  <%= link_to (avalibility_count.to_s + " Available Meetings"), ta_path(ta), class: "btn btn-primary" %>
                <% elsif avalibility_count == 1 %>
                  <%= link_to (avalibility_count.to_s + " Available Meeting"), ta_path(ta), class: "btn btn-primary" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <% else %>
        <h1 text-center>There aren't any Instructors signed up!</h1>
    <% end %>
  </div>
</div>