<!-- <h1>Tas#index</h1>
<p>Find me in app/views/tas/index.html.erb</p>
 -->
<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Knock-Knock</h1>
            <hr>
            <p>Find a availabe tutors to provide personalized assistance in your learning process</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Book a tutor</a> <a href="#about" class="btn btn-primary btn-xl page-scroll">Become a tutor</a>
        </div>
    </div>
</header>

<section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">What we do</h2>
                    <hr class="light">
                    <p class="text-faded">Knocl-Knock, facilitates the coordination for students and tutors to be able to meet</p>
                    <div class="text-center">
                      <li class="btn btn-default btn-xl"><%= link_to 'Get started!', login_path %></li>
                    </div
                </div>
            </div>
        </div>
    </section>


<div class="container">
  <div class="text-center">
    <li class="btn btn-default btn-xl"><%= link_to 'Login to book a tutor', login_path %></li>
  </div>
</div>

<% if @tas %>
	<% @tas.each do |ta| %>
		<div class="col-lg-3 col-md-6 text-center">
		 
				<h2><%= link_to ta.name, ta_meetings_path(ta) %> - <%= ta.meetings.select {|meeting| meeting.student_id == nil }.count %> availables</h2>
				<h3>
				<!-- Subjects:  -->
					<% ta.meetings.each do |meeting| %>
						<span class="label label-default"><%= link_to meeting.subject, meeting_path(meeting) %></span>
					<% end %>
				</h3>
				<% end %>
			
		</div>
<% else %>
	<h1 text-center>There aren't any TA signed up!</h1>
<% end %>
