<h1>Tutor's Profile</h1>
<div class="container">
  <div class="col-lg-12 text-center well">
    <h2 class="section-heading">
      <%= image_tag @ta.image.url(:thumb) %>
      <h2><%= @ta.name %></h2>
      <h2><%= @ta.email %></h2>
      <% if current_user && current_user.type == "Ta" %>
        <% if current_user == @ta %>
          <%= link_to "Edit Profile", edit_user_path(current_user), class: "btn btn-success" %>
        <% end %>
        <%= link_to "Add a Meeting", new_meeting_path, class: "btn btn-success" %>
        <%= link_to "Your Meetings", ta_meetings_path(@ta), class: "btn btn-primary" %>
      <% else %>
        <%= link_to "Availabe Meetings", ta_meetings_path(@ta), class: "btn btn-primary" %>
      <% end %>
    </h2>
  </div>
</div>