<h1>Reserve this Meeting</h1>
<div class="containter">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 user_signup_form well">
      <% if current_user.type == "Ta" %>
        <%= render "form" %>
      <% elsif current_user.type == "Student" %>
        <div class="container">
          <div class="row">
            <div class='col-sm-6'>
              <%= form_for @meeting do |f| %>
                <div class="form-group">
                  <%= f.label :subject %>
                  <%= f.text_field :subject, class: "form-control", autofocus: true %>
                </div>
                <div class="form-group">
                  <%= f.submit "Reserve", class: "btn btn-primary" %>
                  <%= link_to "Cancel", student_path(current_user), class: "btn btn-secondary" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>