<div class="container well">
		<ul class="nav nav-tabs">
		  <li class="active"><a data-toggle="tab" href="#home">All meetings</a></li>
		  <li><a data-toggle="tab" href="#menu1">Monday</a></li>
		  <li><a data-toggle="tab" href="#menu2">Tuesday</a></li>
		  <li><a data-toggle="tab" href="#menu3">Wednesday</a></li>
		  <li><a data-toggle="tab" href="#menu4">Thursday</a></li>
		  <li><a data-toggle="tab" href="#menu5">Friday</a></li>
		</ul>
		<div class="tab-content">
		  <div id="home" class="tab-pane fade in active">
		    <h3>All meetings</h3>
		    <p></p>
		  </div>
		  <div id="menu1" class="tab-pane fade">
		    <h3>Monday</h3>
		    <p>Some content for Monday's info.</p>
		  </div>
		  <div id="menu2" class="tab-pane fade">
		    <h3>Tuesday</h3>
		    <p>Some content for Tuesdya's info.</p>
		  </div>
		  <div id="menu3" class="tab-pane fade">
		    <h3>Wednesday</h3>
		    <p>Some content for Wednesday's info.</p>
		  </div>
		  <div id="menu4" class="tab-pane fade">
		    <h3>Thursday</h3>
		    <p>Some content for Tursday's info.</p>
		  </div>
		  <div id="menu5" class="tab-pane fade">
		    <h3>Friday</h3>
		    <p>Some content for Friday's info.</p>
		</div>
			<h1 class="text-center"><%= @ta.name %>'s Meetings</h1>
				<% @meetings.each do |meeting| %>
			  <div class="col-sm-6 col-md-4 col-lg-4 text-center">
			    <div class="thumbnail">
			      <div class="caption">
			      	<div id="home" class="tab-pane fade in active">
			        <% if meeting.subject != nil %>
			      	<h3><%= meeting.subject %></h3>
			      	<% end %>
			        <% local_start = meeting.start_time.localtime %>
			        <% local_end = meeting.end_time.localtime %>
			        <h4><strong>Date:</strong> <%= local_start.to_date %></h3>
							<h4><strong>Start:</strong> <%= local_start.strftime("%H:%M") %></h4>
							<h4><strong>End:</strong> <%= local_end.strftime("%H:%M") %></h4>
							<% if !current_user || (current_user && current_user.type == "Student") %>
								<% if meeting.student_id == nil %>
									<%= link_to "Reserve", edit_meeting_path(meeting), class: "btn btn-success" %>
								<% else %>
							<h4>Reserved by: <%= link_to Student.find(meeting.student_id).name, student_path(meeting.student_id) %></h4>
								<% end %>
								<% elsif current_user && current_user.type == "Ta" %>
									<% if meeting.student_id == nil %>
										<h3><span class="label label-info">Available</span></h3>
										<%= link_to "Edit", edit_meeting_path(meeting), class: "btn btn-secondary btn-sm" %>
									<% else %>
									<h3><span class="label label-warning">Not Available</span></h3>
										<h4>Reserved by: <%= link_to Student.find(meeting.student_id).name, student_path(meeting.student_id) %></h4>
									<% end %>
								<% end %>	
							</div>
			      </div>
			  </div>
			</div>
			<% end %>
		</div>
	</div>
	<div class="container pull-right">
		<%= link_to "All TAs", tas_path, class: "btn btn-secondary" %>
		<% if current_user && current_user.type = "Ta" %>
			<%= link_to "View TA's profile", ta_path(@ta), class: "btn btn-secondary" %>
		<% end %>
	</div>
