<% @meetings.each do |meeting| %>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3><%= link_to meeting.subject, meeting_path(meeting) %></h3>
        <h4><strong>Date:</strong> <%= meeting.start.to_date %></h3>
				<h4><strong>Start:</strong> <%= meeting.start.hour %>:<%= meeting.start.min %></h4>
				<h4><strong>End:</strong> <%= meeting.end.hour %>:<%= meeting.end.min %></h4>
				<% if current_user.type == "Student" %>
					<% if meeting.student_id == nil %>
						<%= button_to "Reserve", meeting_path(meeting), method: :put, class: "btn btn-success" %>
					<% else %>
						<h4>Reserved by: <%= link_to Student.find(meeting.student_id).name, student_path(meeting.student_id) %></h4>
					<% end %>
				<% else %>
					<% if meeting.student_id == nil %>
						<h3>Available</h3>
						<h3>Button Edit Here</h3>
					<% else %>
						<h4>Reserved by: <%= link_to Student.find(meeting.student_id).name, student_path(meeting.student_id) %></h4>
					<% end %>
				<% end %>	
      </div>
    </div>
  </div>
</div>
<% end %>

<%= link_to "All TAs", tas_path, class: "btn btn-primary" %>
<% if current_user.type == "Ta" %>
	<%= link_to "Back to Profile", ta_path(@ta), class: "btn btn-default" %>
<% end %>