<!-- <h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p> -->
<!-- Replace bello with navbar partials -->

<nav id='nav' class='navbar navbar-default navbar-fixed-top'>
  <div class='container-fluid'>
    <div class='navbar-header'>
      <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#bs-navbar'>
        <span class='sr-only'>Toggle navigation</span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
      <a class="siteLogo siteLogoNav navbar-brand page-scroll a" href="/">Knock Knock</a>
    </div>
    <div class='navbar-collapse collapse' id='bs-navbar'>
      <ul class='nav navbar-nav pull-right'>
        <% if current_user %>
          <% if params[:controller] == 'user' && params[:action] == 'show' %>
          <li>
            <%= link_to 'New Meeting', new_meeting_post_path(@meeting, @post) %>
          </li>
          <% end %>
          <li>
            <%= link_to 'Profile', user_path(current_user) %>
          </li>
          <li>
            <%= link_to 'Logout', logout_path %>
          </li>
          <% else %>
          <li>
            <%= link_to 'Sign Up', new_user_path %>
          </li>
          <li>
            <%= link_to 'Login', login_path %>
          </li>
        <% end %>
      </ul>
      <ul class='nav navbar-nav pull-left'>
      <% if params[:controller] == 'meeting' || params[:controller] == 'posts' %>
        <li>
          <%= link_to @meeting.name, meeting_path(@meeting) %>
        </li>
      </ul>
      <% end %>
    </div>
  </div>
</nav>

<!-- End of navbar partials -->


 <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Erik</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                        <h3>Available the following dates</h3>
                        <p class="text-muted">I'm Erick! awesom</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>Ready to Ship</h3>
                        <p class="text-muted">You can use this theme as is, or you can make changes!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Up to Date</h3>
                        <p class="text-muted">We update dependencies to keep things fresh.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>Made with Love</h3>
                        <p class="text-muted">You have to make your websites with love these days!</p>
                    </div>
                </div>
            </div>
        </div>