	<!-- Header -->


<!-- Header version 1 -->
<!-- <div class="wide">
  	<div class="col-xs-5 line"><hr></div>
    <div class="col-xs-2 logo">Knock Knock</div>
    <div class="col-xs-5 line"><hr></div>
</div> -->


<!-- Header version 2 -->
<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Knock-Knock</h1>
            <hr>
            <p>Find a availabe tutors to provide personalized assistance in your learning process</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Book a tutor</a> <a href="#about" class="btn btn-primary btn-xl page-scroll">Become a tutor</a>
        </div>
    </div>
</header>

<section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">What we do</h2>
                    <hr class="light">
                    <p class="text-faded">Knocl-Knock, facilitates the coordination for students and tutors to be able to meet</p>
                    <a href="#" class="btn btn-default btn-xl">Get Started!</a>
                    <%= link_to "Take A Tour", tas_path, class: "btn btn-default btn-xl" %>
                </div>
            </div>
        </div>
    </section>


<div class="container">
  <div class="text-center">
    <h1>Log in to book a tutor</h1>
  </div>
</div>







<!-- Log in form will move the landing page to another place later -->



<div class="containter" >
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<%= form_for @user do |f| %>
				<h3>Sign Up</h3>
				<div class="form-group">
					<%=  f.label :name %>
					<%=  f.text_field :name, class: "form-control", autofocus: true %>
				</div>
				<div class="form-group">
					<%=  f.label :email %>
					<%=  f.email_field :email, class: "form-control", autofocus: true %>
				</div>
				<div class="form-group">
					<%=  f.label :type, "Role" %>
					<%=  f.collection_select :type, ["Ta", "Student"], :to_s, :to_s,class: "form-control", autofocus: true %>
				</div>
				<div class="form-group">
					<%=  f.label :password %>
					<%=  f.password_field :password, class: "form-control", autofocus: true %>
				</div>
				<div class="form-group">
					<%=  f.label :password_confirmation %>
					<%=  f.password_field :password_confirmation, class: "form-control", autofocus: true %>
				</div>
				<div class="form-group">
					<%= f.submit "Sign Up", class: "btn btn-primary form-control" %>
				</div>
			<% end %>
			<p class="text-center">Already have an account? <%= link_to "Click Here", login_path %> to log in.</p>
		</div>
	</div>
</div>
