<!-- Header -->
<div class="wide">
  	<div class="col-xs-5 line"><hr></div>
    <div class="col-xs-2 logo">Knock Knock</div>
    <div class="col-xs-5 line"><hr></div>
</div>

<div class="container">
  <div class="text-center">
    <h1>Log in to book a tutor</h1>
  </div>
</div>





<!-- will move the landing page to another place later -->



<div class="containter">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<%= form_for @user do |f| %>
				<h3>Sign Up</h3>
				<div class="form-group">
					<%=  f.label :name %>
					<%=  f.text_field :name, class: "form-control", autofocus: true %>
				</div>
				<div class="form-group">
					<%=  f.label :email %>
					<%=  f.email_field :email, class: "form-control", autofocus: true %>
				</div>
				<div class="form-group">
					<%=  f.label :type, "Role" %>
					<%=  f.collection_select :type, ["Ta", "Student"], :to_s, :to_s,class: "form-control", autofocus: true %>
				</div>
				<div class="form-group">
					<%=  f.label :password %>
					<%=  f.password_field :password, class: "form-control", autofocus: true %>
				</div>
				<div class="form-group">
					<%=  f.label :password_confirmation %>
					<%=  f.password_field :password_confirmation, class: "form-control", autofocus: true %>
				</div>
				<div class="form-group">
					<%= f.submit "Sign Up", class: "btn btn-primary form-control" %>
				</div>
			<% end %>
			<p class="text-center">Already have an account? <%= link_to "Click Here", login_path %> to log in.</p>
		</div>
	</div>
</div>
