<!DOCTYPE html>
<html>
<head>
  <title>KnockKnock</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav id='nav' class='navbar navbar-default navbar-fixed-top'>
  <div class='container-fluid'>
    <div class='navbar-header'>
      <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#bs-navbar'>
        <span class='sr-only'>Toggle navigation</span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
      <a class="siteLogo siteLogoNav navbar-brand page-scroll a" href="/">Knock Knock</a>
    </div>
    <div class='navbar-collapse collapse' id='bs-navbar'>
      <ul class='nav navbar-nav pull-right'>
        <% if current_user %>
          <% if params[:controller] == 'user' && params[:action] == 'show' %>
          <li>
            <%= link_to 'New Meeting', new_meeting_post_path(@city, @post) %>
          </li>
          <% end %>
          <li>
            <%= link_to 'Profile', user_path(current_user) %>
          </li>
          <li>
            <%= link_to 'Logout', logout_path %>
          </li>
          <% else %>
          <li>
            <%= link_to 'Sign Up', new_user_path %>
          </li>
          <li>
            <%= link_to 'Login', login_path %>
          </li>
        <% end %>
      </ul>
      <ul class='nav navbar-nav pull-left'>
      <% if params[:controller] == 'meeting' || params[:controller] == 'posts' %>
        <li>
          <%= link_to @city.name, city_path(@city) %>
        </li>
      </ul>
      <% end %>
    </div>
  </div>
</nav>

<%= yield %>

</body>
</html>
